.promo {
  background: #dddee3 url(../../images/promo.svg) no-repeat;
  background-position: center top 82px;
  margin: auto;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__title {
  margin: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 640px;
  margin-top: 184px;
}

.promo__nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 224px;
  background: #F5F5F5;
}

@media screen and (max-width: 1024px) {
  .promo {
    background-position: center top 224px;
  }

  .promo__title {
    margin-top: 326px;
    max-width: 440px;
    font-size: 40px;
    line-height: 50px;
  }

  .promo__nav {
    margin-top: 342px;
  }
}

@media screen and (max-width: 768px) {
  .promo {
    background-position: center top 224px;
  }

  .promo__title {
    margin-top: 326px;
    max-width: 440px;
    font-size: 40px;
    line-height: 50px;
  }

  .promo__nav {
    margin-top: 342px;
  }
}

@media screen and (max-width: 640px) {
  .promo {
    background-position: center top 142px;
    background-size: 248px 248px;
  }

  .promo__title {
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -.04em;
    max-width: 520px;
    margin-top: 207px;
  }

  .promo__nav {
    margin-top: 246px;
  }
}
