
.nav-tab {
  line-height: 16px;
  cursor: pointer;
  color: black;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-tab:hover {
  opacity: 0.5;
}
